@page "/"
@using MudBlazor
@using Publisher_GUI.Data.Services
@using Publisher_GUI.Models.Author
@inject AuthorService _authorService 

<PageTitle>Forside</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code{
    private List<Author> Authors { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Authors = await _authorService.GetAllAuthors();
    }
    private async void GetAuthor(Guid authorId)
    {
        var author = await _authorService.GetAuthorById(authorId);
    }
}